@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

@font-face{
	font-family: Archangelsk;
	font-display: swap;
	src: url("../fonts/Archangelsk.woff2") format("woff2"), url("../fonts/Archangelsk.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
