.header {
	height: 75px;
	position: absolute;
	top: 20px;
	left: 0;
	z-index: 100;
	width: 100%;

	&__content {
		display: flex;
		height: 100%;
		align-items: center;
		justify-content: space-between;
	}

	&__logo {
		max-height: 100%;
	}

	&__social {
		display: flex;
		column-gap: 40px;
	}

	&__social-icon {
		fill: $primaryColor;
		height: 30px;
		width: 30px;
	}
}
